{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "importOrder": ["^react(.*)$", "^firebase/(.*)$", "^@(.*)/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}